a {
  text-decoration: none;
  color: inherit; }

#TableOfContents li,
#mainNavigation li,
#mainFooter li,
#mainSidebar li,
#sideNavigation li {
  list-style: none; }

html, body,
main > aside ul,
#mainNavigation ul,
#mainNavigation li,
#mainNavigation nav,
#sideNavigation h1,
#sideNavigation ul,
#sideNavigation li {
  padding: 0;
  margin: 0; }

.RequireJS {
  display: none !important; }

main > header {
  position: fixed;
  height: 48px; }

main > section {
  margin: 0; }

@media (min-width: 727px) {
  main > header {
    width: 726px; } }
@media (min-width: 751px) {
  main {
    width: 750px; }

  body > footer {
    width: 750px; } }
@media (max-width: 726px) {
  main > header {
    width: 100%; } }
@media (max-width: 750px) {
  main,
  body > footer {
    width: 100%; } }
main > section {
  padding-top: calc(24px + 48px );
  padding-bottom: 24px; }
  @media (min-width: 601px) {
    main > section {
      padding-left: 14.83282px;
      padding-right: 24px; } }
  @media (max-width: 600px) {
    main > section {
      padding-left: 14.83282px;
      padding-right: 14.83282px; } }
  @media (max-width: 450px) {
    main > section {
      padding-left: 0px;
      padding-right: 0px; } }

main > section :first-child {
  margin-top: 0; }

main > section :last-child {
  margin-bottom: 0; }

body > footer {
  margin-top: 9.16718px;
  margin-bottom: 9.16718px; }

body > footer > nav {
  text-align: center; }

main > header > .Container {
  display: flex;
  flex-direction: row;
  align-items: flex-start; }

main > header > .Container > .Logo {
  height: 48px; }

main > header > .Container > .Logo,
main > header > .Container > .HamburgerMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

main > header > .Container > .HamburgerMenu {
  width: 48px;
  height: 48px;
  margin: 0 24px; }

main > header h1,
main > header h2 {
  margin-top: 0;
  margin-bottom: 0; }

main > header > nav {
  display: none; }

html {
  background-color: lightblue; }

main > header {
  background-color: brown; }

main > section {
  background-color: wheat; }

@media (max-width: 750px) {
  main > section,
  main > header {
    border-bottom-right-radius: 0; } }
@media (min-width: 751px) {
  main > section {
    border-bottom-right-radius: 48px; } }
@media (min-width: 727px) {
  main > header {
    border-bottom-right-radius: 48px; } }
